In [1]:
import pandas as pd

blood_pressure = pd.read_csv('blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [2]:
# H0: u = 0
# H0: u != 0

from scipy.stats import ttest_rel
# для каждого человека сравниваем средние начения кровяного давления до и после. 
# То есть берем среднее значение до и среднее значение и с этой функцией сравниваем разницу между средними
ttest_rel(blood_pressure.after, blood_pressure.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [3]:
from scipy.stats import ttest_1samp
ttest_1samp(blood_pressure.after-blood_pressure.before, 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [4]:
ab_test = pd.read_csv('ab_test.csv')
ab_test.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [5]:
from scipy.stats import ttest_ind
# Тоже сравниваем средние значения, но для разных людей. Предыдущаа функции сравнивала средние для одного человека.
ttest_ind(ab_test.a, ab_test.b, equal_var=True)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [6]:
ttest_ind(ab_test.a, ab_test.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)